{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block nav%}
{% include "nav-faturamento.html" %}
{% endblock %}
{% block content%}
<h3>Faturamento</h3>

<div class="btn-group" role="group" aria-label="Basic outlined example">
    {%for ano in anos%}
    <a href="{% url 'faturamento' ano %}">
        <button type="button" class="btn btn-outline-primary">{{ano}}</button></a>
    {%endfor%}
</div>


<div class="card">
    <div class="card-header">
       <h3> {{ano}} </h3>
      </div>
      <div class="card-body">
        <table class="table">
            <tr>
            <th>Faturamento</th>
            <th>Redimento tributável</th>
            <th>Redimento isento</th>
            <th>Despesas comprovadas</th>
            <th>Lucro</th>
            </tr>
            <tr>
                <td>R$ {{faturamento_ano | intcomma}}</td>
                <td>R$ {{redimento_tributavel | intcomma}}</td>
                <td>R$ {{redimento_isento | intcomma }}</td>
                <td>R$ {{ despesas_comprovadas | intcomma}}</td>
                <td>R$ {{lucro | intcomma }}</td>
            </tr>
        </table>
      </div>
    
</div>


{% endblock %}