{% extends "base.html" %}
{% load static %}
{% block nav%}
{% include "nav-faturamento.html" %}
{% endblock %}
{% block content%}
<h3>Faturamento por ano</h3>
<div class="row row-cols-1 row-cols-md-2 g-4">
{% for faturamento in faturamento_anos %}


  <div class="col">
<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">{{faturamento.ano}}</div>
  <div class="card-body text-primary">
    <h5 class="card-title">{{faturamento.valor}}</h5>
  </div>
</div>
  </div>
{%endfor%}
</div>
{% endblock %}