{% extends "base.html" %}
{% load static %}
{% block nav%}
{% include "nav-faturamento.html" %}
{% endblock %}
{% block content%}
<h3>Links</h3>
<div class="list-group">
<a href="http://www8.receita.fazenda.gov.br/simplesnacional/aplicacoes/atspo/dasnsimei.app/" class="list-group-item list-group-item-action" target="_blank">DASN SIMEI</a>
<a href="http://www8.receita.fazenda.gov.br/SimplesNacional/Servicos/Grupo.aspx?grp=t&area=2" class="list-group-item list-group-item-action" target="_blank">SIMPLES NACIONAL</a>
<a href="https://cav.receita.fazenda.gov.br/ecac/" class="list-group-item list-group-item-action" target="_blank">Receita Federal  eCAC</a>
<a href="http://www8.receita.fazenda.gov.br/SimplesNacional/Aplicacoes/ATSPO/ConsultaDASNSIMEI.app/" class="list-group-item list-group-item-action" target="_blank">DASN SIMEI - Consulta Declarações Transmitidas</a>
</div>
{% endblock %}